
body {
    padding: 20px;
    border: 10px;
    -webkit-box-sizing: border-box; /* For Safari and older versions of Chrome */
  -moz-box-sizing: border-box;    /* For older versions of Firefox */
  box-sizing: border-box;         /* Standard CSS3 property */
    margin: 0;
}
nav {
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
nav a{
  display: inline-block;
  background-color: #66A5AD;
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration-color: aliceblue;
  border: 3px;
  border-color: #C4DFE6;
  align-content: center;
  flex-grow: 215px;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
}